## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  刘婷婷
+ 学号  0154590

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [49]:
import pandas as pd
from pandas import Series, DataFrame
goodsInfo = {"price": [100, 200, 300, 400, 64],
       "amount": [4, 3, 2, 1, 2],
       "time": [1113, 1114, 1115, 1116, 1115],
       "comment": [4, 4, 4, 5, 4]
            }
frame = pd.DataFrame(goodsInfo)
frame = DataFrame(goodsInfo, columns=["price", "amount", "time", "comment"], index=["肖四肖八", "运动鞋", "护肤品", "羽绒服", "猫粮"])
frame

      price  amount  time  comment
肖四肖八    100       4  1113        4
运动鞋     200       3  1114        4
护肤品     300       2  1115        4
羽绒服     400       1  1116        5
猫粮       64       2  1115        4

#### 用index的label读取某一个物品数据

In [50]:
print(frame.loc["肖四肖八"])

price       100
amount        4
time       1113
comment       4
Name: 肖四肖八, dtype: int64

#### 选择价格>200的物品

In [51]:
frame[frame['price']>200]

     price  amount  time  comment
护肤品    300       2  1115        4
羽绒服    400       1  1116        5

#### 挑选其中和学习有关的物品，构成一个子集

In [52]:
studyGoods = {"price": frame["price"][0:1],
              "amount": frame["amount"][0:1],
              "time": frame["time"][0:1],
              "comment": frame["comment"][0:1]
             }
DataFrame(studyGoods)

      amount  comment  price  time
肖四肖八       4        4    100  1113

#### 读取评价那列的数据

In [53]:
frame['comment']

肖四肖八    4
运动鞋     4
护肤品     4
羽绒服     5
猫粮      4
Name: comment, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [54]:
frame.sort_values(by=["amount"])

      price  amount  time  comment
羽绒服     400       1  1116        5
护肤品     300       2  1115        4
猫粮       64       2  1115        4
运动鞋     200       3  1114        4
肖四肖八    100       4  1113        4

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [55]:
obj = pd.Series([8,10,10,12,13], index=["肖四肖八", "运动鞋", "护肤品", "羽绒服", "猫粮"])
frame['price']+obj

肖四肖八    108
运动鞋     210
护肤品     310
羽绒服     412
猫粮       77
dtype: int64

#### 按照价格从高到底排序

In [56]:
frame.sort_values(by='price',ascending=False)

      price  amount  time  comment
羽绒服     400       1  1116        5
护肤品     300       2  1115        4
运动鞋     200       3  1114        4
肖四肖八    100       4  1113        4
猫粮       64       2  1115        4

#### 按照收到的时间从低到高排序

In [57]:
frame.sort_values(by='time')

      price  amount  time  comment
肖四肖八    100       4  1113        4
运动鞋     200       3  1114        4
护肤品     300       2  1115        4
猫粮       64       2  1115        4
羽绒服     400       1  1116        5

#### 得到各样物品评价的排名

In [58]:
frame['comment'].rank(method='first')

肖四肖八    1.0
运动鞋     2.0
护肤品     3.0
羽绒服     5.0
猫粮      4.0
Name: comment, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [59]:
df=pd.DataFrame(frame)
df['price'].sum()

1064

In [60]:
df['price'].max()

400

In [61]:
df['price'].min()

64

In [62]:
df['price'].mean()

212.8