## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  谢新沪
+ 学号  0162485

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = {'price': [116,95,92,30,210], 
        'number': [1, 1, 1, 1, 1], 
        'time': [1118, 1118, 1118, 1120, 1113],
       'evaluation': [4,3,3,5,4]}
frame = pd.DataFrame(data,index=['卫衣', '针织毛衣', '钢笔', '《乔布斯传》', '运动鞋'])
frame

        evaluation  number  price  time
卫衣               4       1    116  1118
针织毛衣             3       1     95  1118
钢笔               3       1     92  1118
《乔布斯传》           5       1     30  1120
运动鞋              4       1    210  1113

#### 用index的label读取某一个物品数据

In [3]:
frame.loc['卫衣']

evaluation       4
number           1
price          116
time          1118
Name: 卫衣, dtype: int64

#### 选择价格>200的物品

In [4]:
frame[frame['price'] > 200]

     evaluation  number  price  time
运动鞋           4       1    210  1113

#### 挑选其中和学习有关的物品，构成一个子集

In [7]:
frame2 = frame.loc[[ '钢笔', '《乔布斯传》']]
frame2

        evaluation  number  price  time
钢笔               3       1     92  1118
《乔布斯传》           5       1     30  1120

#### 读取评价那列的数据

In [8]:
frame['evaluation']

卫衣        4
针织毛衣      3
钢笔        3
《乔布斯传》    5
运动鞋       4
Name: evaluation, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [10]:
frame3 = frame.reindex(['运动鞋', '针织毛衣', '《乔布斯传》', '卫衣','钢笔'])
frame3

        evaluation  number  price  time
运动鞋              4       1    210  1113
针织毛衣             3       1     95  1118
《乔布斯传》           5       1     30  1120
卫衣               4       1    116  1118
钢笔               3       1     92  1118

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [12]:
val = pd.Series([0,0,0,0,0], index=['卫衣', '针织毛衣', '钢笔', '《乔布斯传》', '运动鞋'])
frame['carriage'] = val
frame

        evaluation  number  price  time  carriage
卫衣               4       1    116  1118         0
针织毛衣             3       1     95  1118         0
钢笔               3       1     92  1118         0
《乔布斯传》           5       1     30  1120         0
运动鞋              4       1    210  1113         0

#### 按照价格从高到底排序

In [13]:
frame.sort_values(by='price', ascending=False)

        evaluation  number  price  time  carriage
运动鞋              4       1    210  1113         0
卫衣               4       1    116  1118         0
针织毛衣             3       1     95  1118         0
钢笔               3       1     92  1118         0
《乔布斯传》           5       1     30  1120         0

#### 按照收到的时间从低到高排序

In [14]:
frame.sort_values(by='time')

        evaluation  number  price  time  carriage
运动鞋              4       1    210  1113         0
卫衣               4       1    116  1118         0
针织毛衣             3       1     95  1118         0
钢笔               3       1     92  1118         0
《乔布斯传》           5       1     30  1120         0

#### 得到各样物品评价的排名

In [15]:
frame.sort_values(by='evaluation', ascending=False)

        evaluation  number  price  time  carriage
《乔布斯传》           5       1     30  1120         0
卫衣               4       1    116  1118         0
运动鞋              4       1    210  1113         0
针织毛衣             3       1     95  1118         0
钢笔               3       1     92  1118         0

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [16]:
frame['price'].sum()

543

In [17]:
frame['price'].max()

210

In [18]:
frame['price'].min()

30

In [19]:
frame['price'].mean()

108.6