## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  胡璟玥
+ 学号  0165196

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [18]:
import pandas as pd
from pandas import Series, DataFrame
data={'price':[120,90,55,400,1000],
      'amount':[6,2,1,3,1],
      'time':[1112,1115,1116,1116,1120],
      'comment':[5,4,5,3,5],}
frame=pd.DataFrame(data,index=['书','零食','充电宝','衣服','鞋'])
frame

     amount  comment  price  time
书         6        5    120  1112
零食        2        4     90  1115
充电宝       1        5     55  1116
衣服        3        3    400  1116
鞋         1        5   1000  1120

#### 用index的label读取某一个物品数据

In [16]:
frame.loc['零食']

amount        2
comment       4
price        90
time       1115
Name: 零食, dtype: int64

#### 选择价格>200的物品

In [17]:
frame[frame['price']>200]

    amount  comment  price  time
衣服       3        3    400  1116
鞋        1        5   1000  1120

#### 挑选其中和学习有关的物品，构成一个子集

In [19]:
study = {'price':frame['price'][0:1],
        'amount':frame['amount'][0:1],
        'time':frame['time'][0:1],
         'comment':frame['comment'][0:1],
        }
DataFrame(study)

   amount  comment  price  time
书       6        5    120  1112

#### 读取评价那列的数据

In [20]:
frame.comment

书      5
零食     4
充电宝    5
衣服     3
鞋      5
Name: comment, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [21]:
pd.DataFrame(frame,index=['鞋','衣服','充电宝','书','零食'])

     amount  comment  price  time
鞋         1        5   1000  1120
衣服        3        3    400  1116
充电宝       1        5     55  1116
书         6        5    120  1112
零食        2        4     90  1115

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [23]:
p=pd.Series([23,7,3,10,12],index=['鞋','衣服','充电宝','书','零食'])
frame['price']+p

书       130
充电宝      58
衣服      407
零食      102
鞋      1023
dtype: int64

#### 按照价格从高到底排序

In [24]:
frame.sort_values(by='price',ascending=False)

     amount  comment  price  time
鞋         1        5   1000  1120
衣服        3        3    400  1116
书         6        5    120  1112
零食        2        4     90  1115
充电宝       1        5     55  1116

#### 按照收到的时间从低到高排序

In [25]:
frame.sort_values(by='time')

     amount  comment  price  time
书         6        5    120  1112
零食        2        4     90  1115
充电宝       1        5     55  1116
衣服        3        3    400  1116
鞋         1        5   1000  1120

#### 得到各样物品评价的排名

In [26]:
frame['comment'].rank(method='first')

书      3.0
零食     2.0
充电宝    4.0
衣服     1.0
鞋      5.0
Name: comment, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [27]:
frame['price'].sum()

1665

In [28]:
frame['price'].max()

1000

In [29]:
frame['price'].min()

55

In [30]:
frame['price'].mean()

333.0