## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  姚迈
+ 学号0165186

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [2]:
import pandas as pd
data={'price':[80,400,50,40,150],'quantity':[1,1,1,1,1],'time':[1114,1113,1115,1114,1114],'evaluation':[4,3,4,4,5]}
frame=pd.DataFrame(data,index=['书','衣服','零食','笔记本','书包'])
frame

     evaluation  price  quantity  time
书             4     80         1  1114
衣服            3    400         1  1113
零食            4     50         1  1115
笔记本           4     40         1  1114
书包            5    150         1  1114

#### 用index的label读取某一个物品数据

In [4]:
frame.loc['书包']

evaluation       5
price          150
quantity         1
time          1114
Name: 书包, dtype: int64

#### 选择价格>200的物品

In [7]:
frame[frame['price']>200]

    evaluation  price  quantity  time
衣服           3    400         1  1113

#### 挑选其中和学习有关的物品，构成一个子集

In [9]:
frame.loc[['书','书包','笔记本']]

     evaluation  price  quantity  time
书             4     80         1  1114
书包            5    150         1  1114
笔记本           4     40         1  1114

#### 读取评价那列的数据

In [10]:
frame['evaluation']

书      4
衣服     3
零食     4
笔记本    4
书包     5
Name: evaluation, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [18]:
frame_rank=frame.reindex(['书包','衣服','书','笔记本','零食'
                         ])
frame_rank

     evaluation  price  quantity  time
书包            5    150         1  1114
衣服            3    400         1  1113
书             4     80         1  1114
笔记本           4     40         1  1114
零食            4     50         1  1115

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [22]:
series=pd.Series([0,0,0,0,0],index=['书','衣服','零食','笔记本','书包'])
series_2=pd.Series([80,400,50,40,150],index=['书','衣服','零食','笔记本','书包'])
series_3=series+series_2
series_3

书       80
衣服     400
零食      50
笔记本     40
书包     150
dtype: int64

#### 按照价格从高到底排序

In [23]:
frame.sort_values(by='price',ascending=False)

     evaluation  price  quantity  time
衣服            3    400         1  1113
书包            5    150         1  1114
书             4     80         1  1114
零食            4     50         1  1115
笔记本           4     40         1  1114

#### 按照收到的时间从低到高排序

In [25]:
frame.sort_values(by='time')

     evaluation  price  quantity  time
衣服            3    400         1  1113
书             4     80         1  1114
笔记本           4     40         1  1114
书包            5    150         1  1114
零食            4     50         1  1115

#### 得到各样物品评价的排名

In [28]:
frame.sort_values(by='evaluation')

     evaluation  price  quantity  time
衣服            3    400         1  1113
书             4     80         1  1114
零食            4     50         1  1115
笔记本           4     40         1  1114
书包            5    150         1  1114

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [29]:
frame['price'].sum()

720

In [30]:
frame['price'].max()

400

In [31]:
frame['price'].min()

40

In [32]:
frame['price'].mean()

144.0